body {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 151, 224, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
}
#root {
  display: flex;
  justify-content: center;
}
.cursor-pointer {
  cursor: pointer;
}
